<div 
  class="full-height bg-light"
  [style.background-color]="project && project.fields.BackgroundColor"
>
  <div class="full-height d-flex-center flex-wrap work-container">
    <div *ngIf="!project">
      Loading awesome work pieces for you to enjoy.
    </div>
    <div *ngIf="project" class="avoid-nav w-40p mw-90p text-right mtext-center">
      <img class="mw-90p" [src]="project.fields.PrimaryImage[0].url || ''" />
    </div>
    <div *ngIf="project" class="avoid-nav w-40p mw-90p">
      <div class="content max-w-400">
        <div class="title">{{ project.fields.Title }}</div>
        <div class="sub-title">{{ project.fields.Subtitle }}</div>
        <div class="sub-content">
          <div class="summary">{{ project.fields.Summary}}</div>
          <div *ngIf="project.fields.DesignBy">Designed by: {{ project.fields.DesignBy }}</div>
          <div *ngIf="project.fields.MyRole">My role: {{ project.fields.MyRole }}</div>
        </div>
      </div>
      <div>
        <button *ngIf="project.fields.ProjectLink" [routerLink]="project.fields.ProjectLink">See Project</button>
        <button *ngIf="project.fields.BehanceLink" [routerLink]="project.fields.BehanceLink">See on Behance</button>
        <button *ngIf="project.fields.BlogPostLink" [routerLink]="project.fields.BlogPostLink">See Case Study</button>
      </div>
    </div>
  </div>
</div>