<div 
  class="full-height bg-primary"
  [style.background-color]="project && project.fields.BackgroundColor"
>
  <div class="full-height d-flex-center flex-wrap work-container">
    <div *ngIf="!project" class="w-80p text-center color-white">
      <app-loader></app-loader>
    </div>
    <div *ngIf="project" class="w-50p mw-90p text-center mtext-center">
      <app-loader *ngIf="loading"></app-loader>
      <swiper [config]="config" *ngIf="showSwiper" #usefulSwiper>
        <div class="swiper-wrapper">
          <img class="swiper-slide" *ngFor="let image of project.fields.PrimaryImage" [src]="image.url" (load)="onLoad()">
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </swiper>
      <!--<img class="mw-90p work-image" [src]="displayImage" [hidden]="loading" (load)="onLoad()" />
      <div class="image-nav">
        <div (click)="changeImage(imageId-1)">
          <div class="left alt arrow small" ></div>
        </div>
        <div (click)="changeImage(imageId+1)">
          <div class="right alt arrow small" ></div>
        </div>
      </div>-->
    </div>
    <div *ngIf="project" class="w-40p mw-90p project-content">
      <div class="content max-w-400">
        <div class="title">{{ project.fields.Title }}</div>
        <div class="sub-title">{{ project.fields.Subtitle }}</div>
        <div class="sub-content">
          <div class="summary">{{ project.fields.Summary}}</div>
          <div *ngIf="project.fields.DesignBy">Designed by: {{ project.fields.DesignBy }}</div>
          <div *ngIf="project.fields.MyRole">My role: {{ project.fields.MyRole }}</div>
        </div>
      </div>
      <div>
        <button *ngIf="project.fields.Website" [routerLink]="project.fields.Website" class="primary">Visit Website</button>
        <button *ngIf="project.fields.BehanceLink" [routerLink]="project.fields.BehanceLink" class="primary">View project on Behance</button>
        <!--<button *ngIf="project.fields.BlogPostLink" [routerLink]="project.fields.BlogPostLink">See Case Study</button>-->
      </div>
    </div>
  </div>
</div>