@import '../../../styles.scss';

.avoid-nav {
  padding: 48px;

  @media(max-width: 600px) {
    padding: 0;
  }
}

.work-container {
  @media(max-width: 600px) {
    padding: 3em 0;
    height: auto;
  }
}

.work-image {
  box-shadow: 0 0 64px 0 rgba(0,0,0,0.3);
}

.project-content {
  padding-left: 8px;
}

.content {
  color: $primary;
  .title {
    font-size: xx-large;
    font-weight: bold;
    margin-bottom: 0;
  }

  .sub-title {
    font-weight: lighter;
    margin-top: 4px;
  }

  .sub-content {
    > div {
      margin: 2em 0;
    }
  }

  > div {
    margin: 1em 0;
  }
}

.project-menu {
  top: 48px;
  right: 100px;
  position: fixed;

  span {
    display: none;
  }

  .item {
    display: inline-block;
    margin: 8px;
    width: 12px;
    height: 12px;
    border-radius: 20px;
    border: 1px solid white;
    background-color: white;   
    vertical-align: middle;  
    transition: width 0.2s, height 0.2s, margin 0.2s, border-width 0.2s; 
    
    span {
      display: block;
      position: absolute;
      top: 32px;
      // background-color: #444;
      color: $primary;
      // display: block;
      width: 100px;
      text-align: center;
      font-size: 0px;
      transform: translate(-50%, 0);              
      transition: font-size 0.2s, transform 0.2s, opacity 0.2s;
      opacity: 0;
    }

    &:hover, &.active {
      background-color: transparent;
    }

    &.active {
      border-width: 4px;
      width: 6px;
      height: 6px;
    }

    &:hover {
      width: 24px;
      height: 24px;
      margin: 2px;
      border-width: 1px;
    }

    &:hover {
      span {
        // display: block;
        font-size: 12px;
        transform: translate(-37%, 0); 
        opacity: 1;       
      }
    }
  }

  @media(max-width: 600px) {
    top: 146px;
    right: 20px;
    position: absolute;
  }
}

.project-nav {
  .left-container {
    overflow: hidden;
    cursor: pointer;
    position: absolute;
    left: 52px;
    top: 50%;
    padding: 8px;

    @media(max-width: $mobileWidth) {
      left: 12px;
    }
  }

  .right-container {
    padding: 8px;
    overflow: hidden;    
    cursor: pointer;
    position: absolute;
    right: 52px;
    top: 50%;

    @media(max-width: $mobileWidth) {
      right: 12px;
    }
  }
}

img {
  max-width: 100%;
}

.image-nav {
  > div {
    display: inline-block;
    cursor: pointer;
    width: 40px;
    height: 36px;
    padding-top: 8px;
  }
}