<div class="contact-container bg-primary full-height">
  <div class="full-height full-width bg-light d-flex-center contact-info static">
    <div class="back-home" [routerLink]="['/']">Home</div>
    <div class="w-80p max-w-800">
      <h1 class="upper-case"><span>Get in touch</span></h1>
      <p>
        If you have a project that you want to collaborate with or just want to say hello, get in touch below!<br>
        For my most recent every day design life, follow me on <a href="https://www.instagram.com/mishalrx/?hl=en">instagram</a>. 
      </p>
      <p>
        Specialise in web design, UI and graphic design.<br>
        Stellenbosch, South Africa<br>
        Email: <a href="mailto:mishalrx@gmail.com">mishalrx@gmail.com</a>
      </p>
      <a href="mailto:mishalrx@gmail.com"><button class="primary">Send a message</button></a>
      <social-links-partial></social-links-partial>
    </div>
  </div>
</div>