<div class="full-height full-width bg-primary static">
  <div class="back-home" [routerLink]="['/']">Home</div>
  <div class="half-width float-left full-height bg-light d-flex-center about">
    <div class="left-margin w-80p">
      <h1 class="upper-case"><span>Hello</span></h1>
      <p>
        My name is Misha le Roux and I am a  graphic and web designer, who thrives on creative exploration, world-class ideas and beautiful design.
        <br><br>
        I approach each new project with a different perspective to try to understand the problem and solve it.  
        During the process of finding the solution, I research the topic, learn as much as I can about it, sketch, write ideas down, start with mockups and 
        prototyping ideas through user flows, wireframing and create a specific style guide. This allows me to create a product that has gone through a 
        tough selection process.
        <br><br>
        Outside of my work, I like to learn through new experiences and opportunities. 
        I think that there will always be something new to learn and understand, especially in a rapid, growing digital environment. 
      </p>
      <button class='primary' [routerLink]="['/contact']">Send a message</button>
    </div>
  </div>
</div>

