<div class="full-height full-width bg-primary static">
  <div class="back-home" [routerLink]="['/']">Home</div>
  <div class="half-width float-left full-height bg-light d-flex-center">
    <div class="left-margin w-80p">
      <h1 class="upper-case"><span>Hello</span></h1>
      <p>
        I am Misha le Roux, a designer based in Cape Town, South Africa.
        I passionate about all things design, especially digital design.
        Do you have a website, app or brand that sucks to look at and frustrates your users?
      </p>
      <p>
        Contact me, because I can create it better than anyone else.
      </p>
      <button class='primary' [routerLink]="['/contact']">Send a message</button>
    </div>
  </div>
</div>

