@import '../../styles.scss';

$breadth: 40px;
$dist: 2px;

.navigation {
  .item {
    background-color: white;
    position: fixed;
    color: $grey;
    outline: none;
    text-decoration: none;

    @include flexbox();
    @include justify-content(center);
    @include align-items(center);

    span {
      cursor: pointer;
      text-transform: uppercase;
      font-weight: bold;
    }

    &.home {
      span {
        // transition: font-size 0.5s;
        position: relative;
        color: $alt;
        font-weight: bold;
        font-size: 1.2em;
        text-transform: uppercase;
        text-align: center;
      }

      &.bottom span::after, &.top span::before,
      &.right span::after, &.left span::before {
        content: '';
        width: 2px;
        height: $dist + 18px;
        display: block;
        background-color: $alt;
        margin: 0 auto;
        transition: width 0.5s, height 0.5s;
      }

      span:hover {
        &::after, &::before {
          width: 100px;
          height: 2px;
        }
      }
    }

    &.active {
      color: $alt;
      text-decoration: line-through;
    }


    &.top {
      top: 0;
      span { top: $breadth + $dist; }
    }
    &.right {
      right: 0;
      span { right: $breadth + $dist; }
    }
    &.bottom {
      bottom: 0;
      span { bottom: $breadth + $dist; }
    }
    &.left {
      left: 0;
      span { left: $breadth + $dist; }
    }

    &.top, &.bottom {
      width: 100%;
      text-align: center;
      height: $breadth;
    }

    &.right, &.left {
      top: 0;
      height: 100%;
      width: $breadth;
      span {
        @include transform(rotate(-90deg));
      }
    }
  }

  @media(max-width: 600px) {
    padding: 0.5em;
    .item {
      &, &.home, &.left, &.right, &.top &.bottom {
        position: relative;
        top: initial;
        left: initial;
        right: initial;
        bottom: initial;
        width: auto;

        &, &.home {
          span {
            transform: none;
            top: initial;
            left: initial;
            right: initial;
            bottom: initial;

            &::before, &::after {
              display: none;
            }
          }
        }
      }
    }
  }
}