/* You can add global styles to this file, and also import other style files */
@import './scss/flexbox.scss';
@import './scss/vendor_prefixes.scss';

// Colors
$primary: #213743;
$alt: #e5696a;
$grey: #8c969c;
$dark: #202032;
$green: #0cb799;
$light: #ebebeb;

$mobileWidth: 600px;

// Definitions

* {
  margin: 0;
  padding: 0;
}

body, html {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  color: $primary;  
}

// anchor
a {
  color: $grey;
}

.d-flex {
  display: flex;
}

.flex-justify-content-center, .center-h {
  justify-content: center;
}

.flex-align-items-center, .center-v {
  align-items: center;
}

.d-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-1 {
  flex: 1;
}

.full-height {
  height: 100%;

  @media(max-width: $mobileWidth) {
    height: inherit;
    min-height: 100%;
  }
}

.full-width {
  width: 100%;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.mtext-center {
  @media(max-width: 600px) {
    text-align: center;
  }
}

.half-width {
  width: 50%;
}

.float-left {
  float: left;
}

.bg-light {
  background-color: $light;
}

.bg-primary {
  background-color: $primary;
}

.w-90p {
  width: 90%;
}

.w-80p {
  width: 80%;
}

.w-60p {
  width: 60%;
}

.w-50p {
  width: 50%;
}

.w-40p {
  width: 40%;
}

.mw-90p {
  @media(max-width: $mobileWidth) {
    width: 90%;
  }
}

.left-margin {
  margin-left: 42px;
  @media(max-width: $mobileWidth) {
    margin-left: 0;
  }
}

.back-home {
  position: fixed;
  top: 40px;
  left: 42px;
  cursor: pointer;
  font-size: 12px;

  &::before {
    $border-size: 4px;
    border-right: $border-size solid $primary;
    border-top: $border-size solid transparent;
    border-bottom: $border-size solid transparent;
    content: '';
    display: inline-block;
    margin-right: 6px;
  }

  @media(max-width: 600px) {
    top: 106px;
    left: 16px;
    position: absolute;
  }
}

button {
  background-color: transparent;
  padding: 0.8em 2em;
  border: 1px solid white;

  color: white;
  font-size: 1em;

  &.space {
    margin: 0.2em;
  }

  &:hover {
    background-color: white;
    color: $primary;
  }
}

button.primary {
  border-color: $primary;
  color: $primary;

  &:hover {
    background-color: $primary;
    color: white;
  }
}

.max-w-800 {
  max-width: 800px;
}

.max-w-600 {
  max-width: 600px;
}

.max-w-400 {
  max-width: 400px;
}

.upper-case {
  text-transform: uppercase;
}

.static {
  p {
    margin: 1em 0;
    border: none;
    color: $grey;

    &.line {
      border-left: 4px solid $alt;
      padding-left: 1em;
    }
  }

  h1 {
    font-size: 48px;
    span {
      position: relative;
    }

    span::after {
      width: 30px;
      height: 30px;
      background-image: url('/assets/arrows-primary.svg');
      background-repeat: no-repeat;

      content: '';
      display: block;
      position: absolute;
      top: -16px;
      right: -20px;
    }
  }
}

.color-white {
  color: white;
}

.arrow {
  $size: 12px;
  border-style: solid;
  &.white {
    border-color: white;
  }
  display: inline-block;
  border-width: 0 3px 3px 0;
  padding: $size;

  &.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }

  &.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }

  &.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }

  &.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
}

// Text
.small {
  font-size: 12px;
}